<!DOCTYPE html>
<html lang="en" ng-app="chatApp">
<head>
    <meta charset="UTF-8" />
    <title>ChatByTag</title>
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css" />
    <style>
        body {
            padding-top: 50px;
        }
        /*.starter-template {*/
            /*padding: 40px 15px;*/
            /*text-align: center;*/
        /*}*/
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Tag Chat</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container">
        <div ng-controller="selectTagController" class="row" style="padding-top: 30px">
            <div class="col-md-8">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Tag</span>
                            <input type="text" class="form-control" ng-model="tag.id" ng-disabled="connected"  />
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-if="!connected" ng-click="tag.connect()">Connect</button>
                                <button class="btn btn-default" type="button" ng-if="connected" ng-click="tag.disconnect()">Disconnect</button>
                            </span>
                        </div>
                    </div>
                    <div class="panel-body">
                        <ul class="media-list">
                            <li class="media" ng-repeat="message in messages">
                                <div class="media-body">
                                    <div class="media">
                                        <a class="pull-left" href="#">
                                            <img class="media-object img-circle " style="max-height:40px;" src="/chatbytag/img/defaultimg.jpg" />
                                        </a>
                                        <div class="media-body">
                                            <span ng-bind="message.message"></span>
                                            <br />
                                            <small class="text-muted"><span ng-bind="message.fromUser"></span> | <span ng-bind="message.convDate"></span></small>
                                            <hr />
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <div class="input-group">
                            <input type="text" ng-disabled="!connected" ng-model="curmessage" class="form-control" placeholder="Enter Message" />
                                <span class="input-group-btn">
                                    <button class="btn btn-info" type="button" ng-disabled="!connected" ng-click="send()">SEND</button>
                                </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        ONLINE USERS
                    </div>
                    <div class="panel-body">
                        <ul class="media-list">
                            <li class="media">
                                <div class="media-body">
                                    <div class="media">
                                        <a class="pull-left" href="#">
                                            <img class="media-object img-circle" style="max-height:40px;" src="/chatbytag/img/defaultimg.jpg" />
                                        </a>
                                        <div class="media-body">
                                            <h4><span ng-bind="me"></span> | Me </h4>
                                            <!--<small class="text-muted">Active From 3 hours</small>-->
                                        </div>

                                    </div>
                                    <div class="media">
                                        <a class="pull-left" href="#">
                                            <img class="media-object img-circle" style="max-height:40px;" src="/chatbytag/img/defaultimg.jpg" />
                                        </a>
                                        <div class="media-body">
                                            <h5>user1</h5>
                                            <small class="text-muted">Active From 3 hours</small>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.container -->


    <script src="/components/jquery/dist/jquery.min.js"></script>
    <script src="/components/angular/angular.min.js"></script>
    <script src="/components/sockjs/sockjs.min.js"></script>
    <script src="/components/stomp-websocket/lib/stomp.min.js"></script>
    <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/chatbytag/js/app.js"></script>
    <script src="/chatbytag/js/main.js"></script>
</body>
</html>